@import "../lib/iconfont/iconfont.css";
$headSize: 60px;
$menuSize: 275px;
$operatorSize: 275px;

$ibc: #dcdfe6; // border color
$ibl: #ebeef5;
$itc: #314659;
$icc: rgba(0, 0, 0, 0.45);
$boxShadowColor: #f0f1f2;

$primary: #409EFF;


.visual-editor {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: white;

    &:before {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.1);
        content: '';
    }

    &>.visual-editor-metu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $menuSize;
        background: white;
        z-index: 10;

        &>.visual-editor-metu-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: calc(100% - 20px);
            margin-left: 10px;
            margin-top: 20px;
            padding: 0 20px;
            border: 2px solid $ibl;
            min-height: 120px;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
            }

            &:hover {
                border-color: $primary;
                cursor: move;
            }
        }

        .visual-editor-metu-label {
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: 1;
            background: $primary;
            font-size: 12px;
            color: white;
            padding: 4px 8px;
        }

        .visual-editor-metu-content {
            text-align: center;
        }
    }

    &>.visual-editor-head {
        position: absolute;
        top: 0;
        left: $menuSize;
        right: $operatorSize;
        height: $headSize;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .visual-editor-head-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background: rgba(black, 0.2);
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: all 200ms linear;

            &+visual-editor-head-button {
                margin-left: 1px;
            }

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &:hover {
                background: white;
                color: $primary;
            }

            i {
                font-size: 20px;
            }

            span {
                font-size: 13px;
            }
        }
    }

    &>.visual-editor-operator {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $operatorSize;
        background: white;
        z-index: 10;
        padding: 20px 10px 300px 10px  ;
        box-sizing: border-box;
        .el-select , .el-input-number {
            width: 100%;
        }
    }

    &>.visual-editor-body {
        position: relative;
        z-index: 9;
        padding-top: $headSize;
        padding-left: $menuSize;
        padding-right: $operatorSize;
        box-sizing: border-box;
        height: 100%;

        &>.visual-editor-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            
        }
    }
    &.visual-editor-not-preview{
        .visual-editor-container{
            border: dashed 1px $primary;
            box-sizing: border-box;
            .visual-editor-block {
                &:after {
                    $space: 3px;
                    position: absolute;
                    left: -$space;
                    top: -$space;
                    right: -$space;
                    bottom: -$space;
                    content: '';
                }
               
            }   
        }
    }
}
.visual-editor-container {
    position: relative;
    background: white;
    flex-shrink: 0;
    flex-grow: 0;

    &>.visual-editor-block {
        position: absolute;
        &.visual-editor-block-focus {
            &:after {
                border: 1px dashed $primary;
            }
        }
       

       
    }
    .visual-editor-mark-line-y{
        position: absolute;
        left: 0;
        right: 0;
        border-top: dashed 1px $primary;
    }
    .visual-editor-mark-line-x{
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: dashed 1px $primary;
    }
}

.vue-visual-container-edit-button {
    position: absolute;
    top: 30px;
    right: 20px;
    color: $itc;
    padding: 6px 16px;
    border: dashed 1px $ibc;
    user-select: none;

    &:hover {
      background-color: $ibl;
      cursor: pointer;
      border-style: solid;
    }

    &:active {
      background-color: $ibc;
    }

    & > i {
      font-size: 16px;
      margin-right: 4px;
    }

    & > span {
      font-size: 14px;
    }
  }
